
/* Page */


body {
  background-color: #f1f1f1;
}

table {
  text-align: left;
}

.navbar {
  margin-bottom: 0px;
}

#header-context .btn {
  margin-bottom: 0;
}


table.view-items {
  border-bottom: 1px solid #ddd;
}

p.headingtext {
  font-size: 18px;
}

.container-fluid {
  max-width: 1024px;
}

#main-page {
  margin-top: 10px;
  padding: 2px 8px 15px 8px;
}

.widget {
  padding: 0px 20px 0 20px;
}

.page-title, .widget-title {
  margin-top: 16px;
  color: #777;
  font-size: 16px;
}

#myChart {
  margin: 20px 10px 0 50px;
}

.search {
  margin: 8px; 4px; 0; 0;
}

.search .date-group {
  width: 150px;
}

/*
.section-1, .section-2, .section-3 {
  width: 33%;
}
*/

.section-3 {
  text-align: left;
}

.footer-inactive {
  color: #888;
}

.no-menu {
  padding-top: 2px;
}


/* fix select2 width problems */
.combo-container {
  min-width: 180px;
  text-align: left;
}

#main-page .alert {
  margin-bottom: 6px;
}

td.static {
  padding-left: 4px;
}

.amount {
  text-align: right;
}

/*
#items_table, #alloc_tbl, #delivery {
  padding: 0 8px 0 8px;
}
*/

#_page_body {
  padding: 5px;
}

#msgbox {
  padding: 6px 8px 0 8px;
}

.btn-primary{
  background-color: #072b59;
  border-color: #021d40;
}

.btn-success {
  background-color: #36AA31;
  border-color: #2D8C28;
}

/*
table.tablestyle2 .tablestyle_inner {
	border-collapse: separate;
  border-spacing: 0px;
}

table.tablestyle2 .tablestyle_inner td {
  border: 1px solid #ddd;
}
*/

td.button-cell {
  width: 50px;
  text-align: center;
}

td.options-cell {
  width: 80px;
  text-align: center;
}

.table {
}

th.cell-options, td.cell-options {
  width: 50px !important;
  text-align: right;
}

td.button-add {
  width: 50px;
  text-align: center;
}

tr.control-row {
	border-bottom: 1px solid #ddd;
}

td.label, td.tableheader, td.tableheader2 {
  width: 150px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  text-align: left;
}

th.align-right, td.align-right {
  text-align: right;
}

th.align-center, td.align-center {
  text-align: center;
}


#logo {
  margin: 10px 8px 2px 8px;
}

/*
.entry-header .tablestyle_inner td {
  padding-top: 1px;
  padding-bottom: 1px;
}
*/

table.view-header {
  border: 1px solid #ddd;
}

.view-header td.tableheader2 {
  background-color: #eee;
}

.tablestyle_noborder {
  margin: 0 8px 14px 8px;
}

.tablestyle_noborder td {
  padding: 0 3px 0 3px;
  text-align: right;
}

/*.tablestyle2 td.label, td.tableheader {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}*/

.selector td.label {
  /*
  color: white;
  background-color: #cc5750;
  color: #333;
  */
  color: white;
  background-color: #cc5750;
}

/*
th {
  color: white;
  background-color: #cc5750;
  font-weight: normal;
}
*/

.selector td.input {
  width: 250px;
}

.tablestyle2 td, .entry-header td, .selector td {
  border: 2px solid white;
}

.tablestyle2 td.label, .entry-header .tablestyle_inner td.label, .tablestyle2 td.tableheader2 {
  color: #333;
  background-color: #eee;
}

.entry-footer .tablestyle_inner td.label {
  color: #333;
  background-color: #eee;
}

.entry-footer .tablestyle_inner td {
  border: 2px solid white;
}

.memo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-bottom: 20px;
}

.report-params {
  border-left: 1px solid #ddd;
}

.ajaxtabs {
  margin-bottom: 6px;
}

.entry-items {
	border: 1px solid #ddd;
}

.entry-items thead {
  background-color: #eee;
}

.entry-items thead th {
  font-weight: normal;
}

/*td.tableheader {
  color: white;
  background-color: #cc5750;
}
*/

td.tableheader {
  color: #222;
  background-color: #ddd;
  font-weight: normal;
}

p.overdue {
  color: #bf9180;
}

/*
tr.overduebg > td {
  background-color: #bf9180;
}
*/

.memo {
  margin-bottom: 14px;
}

/* login */

#loginscreen .footer-text {
  color: #999;
  font-size: 10px;
}
#loginscreen .container {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 60px;
}
#loginscreen .panel {
  padding: 2px 25px 5px 25px;
}
/*
#loginscreen form {
  max-width: 330px;
  padding: 60px 15px 15px 15px;
  margin: 0 auto;
}
*/
#loginscreen h3,
  .form-signin .checkbox {
    margin-bottom: 16px;
  }
#loginscreen form .form-control {
position: relative;
height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
padding: 10px;
         font-size: 16px;
}
#loginscreen form .form-control:focus {
  z-index: 2;
}
#loginscreen form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#loginscreen form input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#loginscreen form .btn-lg {
  margin-top: 16px;
  margin-bottom: 8px;
}

